*{
margin: 0;
padding: 0;
font-family: Roboto,sans-serif;
font-weight: 300;
}

/* ---------HOME--------- */
/* ---------HEADER-LANGAGUE---------*/
.header-langague  {
  padding:   20px 0 20px 0;

  height:4vh;
}
.header-langague p {
  margin-top:-10px;
  font-weight: 600;
}
/* ---------HEADER MAIN CONTENT ---------*/
header {
  position: sticky;
  top:0;
  overflow: hidden;
  z-index: 20;
  box-shadow:10px rgb(227, 241, 233);
}
header img {
  width: 100px;
  border-radius: 20px;
}
.form-inline a {
  margin-left: 10px;
}
.form-inline button {
  margin-left: 10px;
}
/* ---------main-content-slider-search--------- */
.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}
/* ---------gift--------- */
.gift{
  margin-top: 40px;
}
.gift .h3 {
  font-family: 'Odibee Sans', cursive;
  font-size: 30px;
}
.gift .row {
  padding-top: 10px;
}
.gift .figure{
  transition: all 0.6s ease;
}
.gift .figure:hover {
  transform: scale(1.1);

  border: 1px solid;
  padding: 5px;
  box-shadow: 2px 5px #888888;
}
/* ---------service---------  */
.service{
 margin-bottom: 100px;
}

.service h5 {
 font-size: 30px;
 font-weight: 400;
color: #666!important;
}
.service p {
font-size: 15px;
font-weight: 300;

   color: #666!important;
}
footer{
  background: #bcbcbc;

}
footer h5 ,a{
  font-size: 15px;
  color: black;
  opacity: 0.8;
}
footer img {
  width:300px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 40px;
}
footer h5 {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.flex {
  display: inline-flex;
}
.flex img {
  width:35px;
  height: 35px;
    transition:  all 0.5s ease;
}
.flex img:hover{
  transform: scale(1.2);

}
.footer-copyright {
  background-color: #1b1b1b;
}
.connect p {
  font-size: 10px;
}
.page-footer .text-center p {
  font-size: 12px;
  color: #666!important;
}
/* ---------MENU--------- */
.main-content-products .row {
  margin-top: 30px;
}
.main-containt-products {
  margin-top: 50px;
  margin-bottom: 150px;
}
.main-containt-products .text-center {
  margin-top: 50px;
}
.main-content-products .container .row .col-md-4 h2{
  font-size: 28px;
  font-weight: 300;
  color: #666!important;
}
.main-content-products .container .row .col-md-4 a {
  text-decoration: none;
}
.main-content-products .container .row .col-md-4 a h5{Ơ
  font-size: 15px;
  font-weight: 200;
color: #666!important;
}
.main-content-products .container .row .col-md-8 h1 {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 300;
  color: #666!important;
}
.main-content-products .container .row .col-md-8 figure {
  padding: 10px 10px ;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.main-content-products .container .row .col-md-8 figure:hover{
  transform: scale(1.1);
}
.main-content-products .container .row .col-md-8 figure img{
  padding: 3px ;
  border: 1px solid black;
  border-radius: 10px;
}
.main-content-products .container .row .col-md-8 figure span {
  position: absolute;
  top:13px;
  left: 30px;
}
.information {
  margin-top: 100px;
  margin-bottom: 50px;
}
.information p {
  font-size: 12px;
  color: #666!important;
}
/* ---------PRODUCTS--------- */

.name-products h5 {
  font-size: 35px;
  font-weight: 400;
  color: #666!important;

}
.price p {
  font-size: 20px;
  font-weight: 200;
  color: #666!important;
  font-family: 'Great Vibes', cursive;
}
.select input {
  width: 200px;
  margin-bottom: 20px;
}
.information h4 {
  font-size: 25px;
  font-weight: 400;
  color: #666!important;
}
.information h4 a{
  font-size: 20px;
}
.information p {
  font-size: 12px;
  font-weight: 300;
  color: #666!important;
}
.Comment a {
  text-decoration: none !important;
}
.black a {
  padding: 10px 20px;
  border: 1px solid #ffc107;;
  text-decoration: none !important;
  font-size: 20px;
}
.black a:hover {
  background:#ffc107;
  color:white;
}
.add-buy {
  display: inline-flex;
}
.add-to-cart {
  margin-left: 10px;
}
.add-to-cart a {
  padding: 10px 20px;
  border: 1px solid #ffc107;;
  text-decoration: none !important;
  font-size: 20px;

}
.add-to-cart a:hover {
  background:#ffc107;
  color:white;
}
.buy-now a {
  padding: 10px 20px;
  border: 1px solid #ffc107;;
  text-decoration: none !important;
  font-size: 20px;
}
.buy-now a:hover {
  background:#ffc107;
  color:white;
}
.card-body p {
  font-size: 15px;
  font-weight: 300;
  color: #666!important;
}
.other .row figure img {
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
}
 .similar .row figure img {
   padding: 5px;
   border: 1px solid black;
     border-radius: 20px;
 }
.compare .row figure {
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;

}
.compare .row figure:hover {
  transform: scale(1.1);
    transition: all 0.6s ease ;
}
/* LOGIN */
.login{
  height: 500px;
  width:600px;
  margin: 60px auto;

}
.login input {
  width: 600px;
}
.login a {
  padding: 20px 230px;
  background: #ffc107;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}
.login a:hover {
  text-decoration: none;
}
.login h3 {
  font-size: 40px;
  letter-spacing:2px;
  font-weight: 500;
  color: #666!important;
  margin-bottom: 20px;
}
.form-check-label p {
  font-size: 15px;
  font-weight: 300;
  color: #666!important;
  letter-spacing: 1.5px;
  margin-left: 20px;
}
.phone-number {
  margin-top: 30px;
  margin-bottom: 30px;

}
.modal-header h5 {
  font-size: 30px;
  font-weight: 400;
}
/* YOURT-CART */
.Your-card {
  height: 100vh;
}
.Your-card .title h1{
  margin-top: 50px;
 font-size: 30px;
 font-weight: 300;
 color: #666!important;
   letter-spacing: 1.5px;
   margin-bottom: 50px;
   font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
}
.Your-card .row p {
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #666!important;
    letter-spacing: 1.5px;
}
 .Your-card .payment h3 {
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #666!important;
    letter-spacing: 1.5px;
}
.Your-card h5 {
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: #666!important;
  letter-spacing: 1.5px;
}
.Your-card .removes a{
  padding: 10px 20px;
  border: 1px solid black;
  text-decoration: none;
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
  font-size: 15px;
  color: #666;
}
.Your-card .removes a:hover{
  color: #7b7c7b;
}
.Your-card .Continue a{
  padding: 5px 10px;
  border: 1px solid black;
  text-decoration: none;
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
  color: #666;

}
.Your-card .Continue a:hover{
  color: #7b7c7b;
}
.Your-card  .cart{
  margin-top: 30px;
}
.Your-card  .cart img {
  width:80px;
  ma
}
/* about */
.title h1 {
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: #666!important;
  letter-spacing: 2px;
}
.text p {
  font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #666!important;
  letter-spacing: 1.5px;
}
