*{
  margin: 0;
  padding: 0;
}
body {
  background-color:#f1f2f3;
  font-family: sans-serif;
}
.header {
  height: 8vh;
  top:0;
  position: sticky;
  background: #fff;
  margin-bottom: 10px;
  border-bottom: 3px solid black;
  z-index: 2;
}
.header-left h3 {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Zhi Mang Xing', cursive;
  margin-left: 20px;
  margin-top: 20px;
}
.header-left input {
  margin-top: 10px;
  margin-left: 30px;
  border:1px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: none;
  width:600px;
  padding: 8.5px;
}
.header-left  i {
  padding: 12px;
  margin-top: 10px;
  /* border: 1px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
}
.header-left {
  display: inline-flex;
  width: 60%;
  float: left;
}
.header-right {
  width: 40%;
  height: 8vh;
  float: right;
}
.header-right ul {
  display: inline-flex;
  float: right;
}
.header-right ul li {
  border-left: 1px solid #fff;
  list-style-type: none;
  padding:   15px 25px;
  background: #000;
  cursor: pointer;

}
.header-right ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
@media only screen and (max-width: 1080px){
  .header {
    height: 10vh;
    border-bottom: 0;
  }
  .header-left {
    width: 100%;
  }
  .header-right {
    width: 100%;
  }
}
/*--Home---*/
/*---------------Nav---------------------*/
.side-menu {
  height: 77vh;
  width: 14%;
  font-size: 14px;
  float: left;
  z-index: 2;
  background-color: #ddd;
}
.side-menu ul {
  margin-left: 10px;
}
.side-menu ul li {
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;

}
.side-menu ul li:hover {
  color:red;
}
.side-menu ul li ul {
  display: none;
  z-index: 10;
  top:77px;
}
.side-menu ul li:hover ul {
  display: block;
  height: 77vh;
  margin-left: 14%;
  padding: 0 100px 10px 10px;
  position: fixed;
  background: #ececec;
  border: 1px 1px 1px 0 solid black;
  box-shadow: 1px 1px 4px 1px rgb(85, 97, 95);

}
.fa-angle-right {
  margin-top: 4px;
  margin-right: 12px;
  float: right;
}
#start-menu-btn  {
  font-size: 20px;
  margin: 10px;
  color:black;
  display: none;
}
#close-menu-btn  {
  font-size: 20px;
  margin: 10px;
  color:black;
  display: none;
}
@media only screen and (max-width: 1080px){
  .side-menu {
    width: 30%;
    z-index: 20;
    top:163px;
    height: 30vh;
    position: fixed;
    font-size: 12px;
    display: none;
  }
  .side-menu ul li ul {
    top:163px;
    height: 30vh;
  }
  .side-menu ul li:hover ul {
    margin-left: 30%;
      height: 30vh;
  }
  #start-menu-btn  {
    display: block;
  }
}
/*---------------Slider---------------------*/
.slider {
  width:65%;
  height: 70vh;
  margin-left: 15%;
  padding: 0 10px;
}
.carousel-indicators{
  z-index: 1 !important;
}
@media only screen and (max-width: 1080px){
  .slider {
    width: 100%;
    margin-left: 0;
    top: 30px;
  }
}
/*---------------Section-two---------------------*/
.section-two {
  margin: 90px 0;
}
.section-two  img {
  width: 100%;
  padding: 20px 0;
  transition: 1s;
  cursor: pointer;
  border: 1px solid black;
}
.section-two  img:hover {
     transform: scale(1.1);
}
/*---------------Section-three---------------------*/
.title-box {
  background: #000;
  width: 200px;
  padding: 4px 10px;
  margin-bottom: 30px;
  display: flex;
}
.title-box h2{
  font-size: 24px;
  color: white;
}
.product-top img {
  width:100%;
}
.overlay-right {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width:70px;
  }
  .overlay-right .fa {
    cursor: pointer;
    background: gray;
    color:#000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    }
.overlay-right .btn-secondary {
  background: none !important;
  border:none !important;
  box-shadow: none !important;
}
.product-top:hover .overlay-right{
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
  transform: scale(1.1);
}
.product-bottom h3,h4 {
  text-align: center;
  font-size: 24px;
}
.product-bottom a {
  width: 100%;
  padding: 5px 20px;
  background: rgb(61, 171, 232);
  color: white;
    text-align: center;
}
.product-bottom a:hover {
    text-decoration: none;
}
.row {
  margin: 30px;
}
.section-five {
  background: #fdba9a;
  color: #fff;
  padding: 30px;
}
.section-five h1 {
  font-size: 24px;
  text-align: center;
}
.section-five .text {
  text-align: center;
}
.section-five .Contact .icon {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.section-five .Contact i {
  margin: 10px;
  cursor: pointer;
}
.section-five li{
  list-style-type: none;
}
.section-five li a {
  text-decoration: none;
  color: white;
}
.section-five li a:hover{
  margin-left: 5px;
}
.container p {
  text-decoration: none;
}
/* Products.html */
.single-product .container h5 {
 padding: 2px 4px;
 background: rgb(36, 232, 98);
 color: white;
 width:50px;
}
.single-product .container p {
  font-size: 30px;
  font-weight: 400;
}
.single-product .container h1,h2 {

  font-size: 30px;
}
.single-product .container .btn-product a {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  text-decoration: none;
}
.single-product .container .btn-product a:hover {
 color: red;
 transition: 0.3s;
  padding: 15px 25px;
}
.single-product .container .btn-product ul{
  display: inline-flex;
}
.single-product .container .btn-product ul li{
  width: 200px;
  list-style-type: none;
  margin: 30px 30px;;
}
.products-description {
  margin-bottom: 30px;
}
.products-description .container h1 {
  font-size: 30px;
}
.products-description .container  p {
  font-size: 15px;
}
.products-description .container a {
  text-align: center;
  text-decoration: none;
  padding: 7px 30px;
  border: 2px solid rgb(111, 202, 231);
  font-size: 15px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.products-description .container a:hover {
  background: rgb(111, 202, 231);
  color: white;
}
