*{
  margin: 0;
  padding: 0;
  font-family: 'Uncial Antiqua', cursive;
  box-sizing: border-box;
}
#contains {
  width:100%;
}
.header{
  width:100%;
  background: #f6c3e5;
}
.contains-header {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding:30px;
}
.logo h1{
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.search {
  padding: 10px;
  background: #fbdff0;
  font-size:15px;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 10px;
}
.search input{
  width:90%;
  float:left;
  background: none;
  border: 0;
  padding: 10px;
  border-radius: 10px;
}
.search i{
  padding: 10px;
  background:#a278b5;
  border-radius: 50%;
}
.list ul{
  list-style-type: none;

}
.list ul li {
  display: inline-block;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  background: #eab0d9;
  border-radius: 10px;
}
.list ul li:hover{
  background:#f7e8f0;
}
.list ul li a{
  text-decoration: none;
  color:#000000;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1.5px;
}
.Mycart{
  border: 2px solid black;
  border-radius: 10px;
  padding:10px;
  letter-spacing: 2px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.Mycart:hover{
  border: 2px solid white;
}
.section-one {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  padding-top: 40px;

}
.section-one .section-one-left{
  width: 30%;
  float: left;
}
.section-one .section-one-left ul{
  list-style-type: none;
  margin-left: 100px;
  padding: 10px 0 0 20px;
}
.section-one .section-one-left .sub-menu{
  width:300px;
  height: 400px;
  background: #fbf4f9;
}
.section-one .section-one-right{
  width: 70%;
  float: right;
}
.section-one .section-one-right img {
  width:450px;
  height:400px;
}
#carousel {
  margin-right: 10px;
}
.section-two {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.section-two .title-products h1 {
  color: black;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  text-align: center;

}
.section-two .products ul {
  list-style-type: none;
  text-align: center;
  margin-top: 30px;
}
.section-two .products ul li {
  display: inline-block;
  width:300px;
  height: 400px;
  background: #f7e8f0;
  margin-right: 20px;
}
.Products-images img {
  padding:20px;
  width: 250px;
  height: 300px;
}
.name-price {
  width:100%;
}
.name{
  width:70%;
  float: left;
}
.price {
  width: 30%;
  float: left;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 30px;
  background: #fbf4f9;
}
.footer .row{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.buy-nows a {
  padding: 10px 20px;
  background:#00a8cc;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  color:white;
  font-size: 20px;
  text-decoration: none;
}
.buy-nows a:hover {
  background: #0c7b93;
}
